body {
    margin: 0 auto;
  }

  .navbar {
    background-color: purple;   
  }

  .navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2.5%;
    transition: all 0.2s ease-in-out;
  }

  .navbar-brand:hover {
    transform: scale(1.1);
    color: white;
  }

  .navbar-nav .nav-link {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
  }

  .nav-link:hover {
    transform: scale(1.1);
  }
  
  .title {
    font-size: 3.5rem;
    text-align: center;
  }
  
  .form-container {
    margin-top: 5%;
    text-align: center;
  }
  
  .form {
    display: inline-block;
    width: 50vw;
  }
  
  .input-search {
    width: 50%;
    height: 3rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1.5% 2%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    transition: width 0.2s ease-in-out;
    text-indent: 2%;
    font-size: 2rem;
    vertical-align: middle;
  }
  
  .input-search:focus {
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0, 0, 255, 0.5);
  }
  
  .btn {
    background-color: purple;
    color: white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 15%;
    margin-left: 2.5%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-color: purple;
    color: white;
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw; /* Changed width to 80vw */
    margin: auto;
    padding: 1.67%;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; /* Changed width to 30% */
    margin: 2.5%;
    padding: 1.67%;
    box-shadow: 0.1rem 0.1rem 0.25rem grey;
    overflow: auto;
    max-height: 500px;
    transition: opacity 0.3s;
  }
  
  
  .movie-card .overview {
    white-space: pre-line;
  }
  
  .movie-card img {
    width: 100%;
    height: 66.67%;
    object-fit: cover;
    margin-bottom: 2.5%;
  }
  
  .movie-card h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2.5%;
  }
  
  .movie-card p {
    font-size: 0.9rem;
    text-align: justify;
    margin-bottom: 2.5%;
  }

  .movie-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
  
  .movie-details img {
    max-width: 50%;
    padding: 10%;
  }
  
  .movie-details-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    color: white;
    weight: bold;
  }
  
  .movie-details-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .movie-details-overview {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
  }
  
  .btn-details {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    background-color: white;
    border-radius: 25px;
    border: none;
  }
  
  

  .container {
    display: flex;
    justify-content: center;
    align-items:first baseline;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
  }
  
  .info-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: solid 1px;
  }
  
  .login-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .input-username,
  .input-password {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px;
    width: 100%;
  }
  
  .login-btn {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: purple;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  
  .account-container {
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    padding: 15%;
  }

  .ca-btn {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: purple;
    color: #fff;
    cursor: pointer;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50vh;
  }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}  

.top-movie-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-title {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.top-movie-container div {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
  }
  .btn {
    min-width: 120px;
    min-height: 40px;
  }
  .movie-card {
    width: 100%;
    height: auto;
    margin: 2.5% 0;
  }
}

@media only screen and (min-width: 768px) {
  .movie-card {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90vw;
    margin: auto;
    padding: 1.67%;
  }
  .movie-card {
    width: 23%;
    margin: 1%;
  }
}


@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 25vh;
    border-right: none;
    border-bottom: solid 1px;
    border: none;
  }

  .info-text {
    margin: 5px;
  }

  .form-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
    .top-movie-container div{
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
    .movie-card {
      width: 80%;
      margin-bottom: 1rem; 
    }
  }



    